{% extends 'base.html' %}
{% load static %}

{% block title %}
Transaction
{% endblock %}

{% block content %}

<section class="history-section" data-aos="fade-up">
    <header class="section-header">
      <h1>Deposit and Withdrawal History</h1>
      <p>Stay updated on your recent financial transactions. Track your deposits, withdrawals, and profits seamlessly.</p>
    </header>
    
    {% comment %} <div class="table-container">
      <table class="transaction-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Deposit</th>
            <th>Profit</th>
            <th>Withdraw</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John Doe</td>
            <td>2024-11-15</td>
            <td>$500</td>
            <td>$50</td>
            <td>$550</td>
          </tr>
          <tr>
            <td>Jane Smith</td>
            <td>2024-11-14</td>
            <td>$1,000</td>
            <td>$100</td>
            <td>$1,100</td>
          </tr>
          <tr>
            <td>Michael Brown</td>
            <td>2024-11-13</td>
            <td>$700</td>
            <td>$70</td>
            <td>$770</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section> {% endcomment %}






  <div class="deposit-history">
    {% comment %} <h3>Stats</h3> {% endcomment %}
    <div class="table-card">
      <h4>Deposit History</h4>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Amount</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% if deposits %}
              {% for deposit in deposits %}
                {% if deposit.amount == 0 %}
                <tr>
                  <td colspan="3">No records yet</td>
                </tr>
                {% else %}
                <tr>
                  <td>{{ deposit.date }}</td>
                  <td>${{ deposit.amount }}</td>
                {% if deposit.status == "PENDING" %}<td><span class="badge pending">{{ deposit.status }}</span></td> {% elif deposit.status == "APPROVED" %}<td><span class="badge approve" style="padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  color: #fff; background-color: #00571a;">{{ deposit.status }}</span></td> {% else %}<td><span class="badge decline" style="padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    color: #fff; background-color: #ff0707;">{{ deposit.status }}</span></td>{% endif %}
                </tr>
                {% endif %}
                
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="3">No records yet</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  


  <div class="deposit-history">
    {% comment %} <h3>Stats</h3> {% endcomment %}
    <div class="table-card">
      <h4>Withdraw History</h4>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Amount</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% if withdraws %}
              {% for withdraw in withdraws %}
                {% if withdraw.amount == 0 %}
                <tr>
                  <td colspan="3">No records yet</td>
                </tr>
                {% else %}
                <tr>
                  <td>{{ withdraw.date }}</td>
                  <td>${{ withdraw.amount }}</td>
                  {% if withdraw.status == "PENDING" %}<td><span class="badge pending">{{ withdraw.status }}</span></td> {% elif withdraw.status == "APPROVED" %}<td><span class="badge approve" style="padding: 5px 10px;
                    border-radius: 20px;
                    font-size: 12px;
                    color: #fff; background-color: #00571a;">{{ withdraw.status }}</span></td> {% else %}<td><span class="badge decline" style="padding: 5px 10px;
                      border-radius: 20px;
                      font-size: 12px;
                      color: #fff; background-color: #ff0707;">{{ withdraw.status }}</span></td>{% endif %}
                </tr>
                {% endif %}
                
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="3">No records yet</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>



{% endblock %}